  <section>
    <div class="addpro">

   
    <div class="container mt-4">
        <h2 class="text-center">EDIT Procuct</h2>
     <div class="row">
        <form action="/admin/edit-products?id={{product._id}}" method="post" enctype="multipart/form-data">
            <label for="">name</label>
            <input type="text" name="name" class="form-control " value=" {{product.product}}">
            
            <label for="">Category</label>
            <input type="text" name="category" class="form-control" value="{{product.category}}">

            <label for="">price</label>
            <input type="text" name="price" class="form-control" value="{{product.price}}">

            <label for="">Description</label>
            <input type="text" name="Description" class="form-control" value="{{product.description}}">

            <label for="">Image</label>
            <img src="/product-images/{{product._id}}.jpg" alt="" style="width:100px ;" height="auto" id="imgView">
            <input type="file" name="Image" class="form-control" onchange="viewImage(event)">
            <button type="submit" class="btn btn-success mt-4" >SUBMIT</button>

        </form>

     </div>   

    </div>
     </div>
  </section>
  <script>
   function viewImage(event){
      document.getElementById('imgView').src=URL.createObjectURL(event.target.files[0])
   }
  </script>