<div id="page">
	<aside id="colorlib-hero">
		<div class="flexslider">
			<ul class="slides">
				<li style="background-image: url(/images/img1.jpg);">
					<div class="overlay"></div>
					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-6 offset-sm-3 text-center slider-text">
								<div class="slider-text-inner">
									<div class="desc">
										<h1 class="head-1">Men's</h1>
										<h2 class="head-2">Shoes</h2>
										<h2 class="head-3">Collection</h2>
										<p class="category"><span>New trending shoes</span></p>
										<p><a href="#" class="btn btn-primary">Shop Collection</a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li style="background-image: url(/images/img_bg_2.jpg);">
					<div class="overlay"></div>
					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-6 offset-sm-3 text-center slider-text">
								<div class="slider-text-inner">
									<div class="desc">
										<h1 class="head-1">Huge</h1>
										<h2 class="head-2">Sale</h2>
										<h2 class="head-3"><strong class="font-weight-bold">50%</strong> Off</h2>
										<p class="category"><span>Big sale sandals</span></p>
										<p><a href="#" class="btn btn-primary">Shop Collection</a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li style="background-image: url(/images/46200.jpg);">
					<div class="overlay"></div>
					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-6 offset-sm-3 text-center slider-text">
								<div class="slider-text-inner">
									<div class="desc">
										<h1 class="head-1">New</h1>
										<h2 class="head-2">Arrival</h2>
										<h2 class="head-3">up to <strong class="font-weight-bold">30%</strong> off</h2>
										<p class="category"><span>New stylish shoes for men {{count}}</span></p>
										<p><a href="#" class="btn btn-primary">Shop Collection</a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</aside>

	<div class="colorlib-product">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-6 text-center">
					<div class="featured">
						<a href="#" class="featured-img" style="background-image: url(images/men.jpg);"></a>
						<div class="desc">
							<h2><a href="#">Shop Men's Collection</a></h2>
						</div>
					</div>
				</div>
				<div class="col-sm-6 text-center">
					<div class="featured">
						<a href="#" class="featured-img" style="background-image: url(images/women.jpg);"></a>
						<div class="desc">
							<h2><a href="#">Shop Women's Collection</a></h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="colorlib-intro">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<h2 class="intro">{{count}}It started with a simple idea: Create quality, well-designed products
						that I wanted myself.</h2>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			{{#each products}}
			<div class="col-md-3">
				<div class="wsk-cp-product">
					<div class="wsk-cp-img">
						<a href="/User/product-details?id={{this._id}}"><img src="/product-images/{{image.[0]}}"
								alt="Product" class="img-responsive" /></a>
					</div>
					
					{{!-- <div class="bg-danger rounded text-white position-absolute start-0 top-0 m-1 py-1 px-2">
						{{this.categoryOffer}}% off</div> --}}
					<div class="wsk-cp-text">
						{{#gt this.productOffer  this.categoryOffer}}
						<div class="bg-danger rounded text-white position-absolute start-0 top-0 m-1 py-1 px-2">
							
						{{this.productOffer}}% off</div>
						{{else}}
						<div class="bg-danger rounded text-white position-absolute start-0 top-0 m-1 py-1 px-2">
							
						{{this.categoryOffer}}% off</div>
						{{/gt}}
						
						

						<a href="/user/place-order">
							<div class="category">
								<span>BUY</span>
							</div>
						</a>
						<div class="title-product">
							<h3>{{this.product}}</h3>

						</div>

						<div class="description-prod">
							<p>{{this.description}}</p>
						</div>
						<div class="card-footer">
							<p style="color: red ; font-weight:  500;"><s>₹ {{this.orginalprice}}</s> </p>
							<div style="color: green;" class="wcf-left"><span class="price">₹ {{this.discountprice}}</span></div>
							<div class="wcf-right"><a href="/User/add-to-cart?_id={{this._id}}" class="buy-btn"><i
										class="fa-solid fa-cart-shopping"></i></a></div>
							<div class="wcf-right "><a href="/User/add-to-wishlist?_id={{this._id}}"" class="buy-btn"><i
										class="fa-solid fafa fa-heart"></i></a></div>
						</div>
					</div>
				</div>
			</div>
			{{/each}}

			<div class="colorlib-partner">
				<div class="container">
					<div class="row">
						<div class="col-sm-8 offset-sm-2 text-center colorlib-heading colorlib-heading-sm">
							<h2>Trusted Partners</h2>
						</div>
					</div>
					<div class="row">
						<div class="col partner-col text-center">
							<img src="/images/brand-1.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
						</div>
						<div class="col partner-col text-center">
							<img src="images/brand-2.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
						</div>
						<div class="col partner-col text-center">
							<img src="/images/brand-3.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
						</div>
						<div class="col partner-col text-center">
							<img src="images/brand-4.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
						</div>
						<div class="col partner-col text-center">
							<img src="/images/brand-5.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
						</div>
					</div>
				</div>
			</div>



		