{{!-- <div class="breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col">
				<p class="bread"><span><a href="index.html">Home</a></span> / <span>Men</span></p>
			</div>
		</div>
	</div>
</div> --}}

<div class="breadcrumbs-two">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="breadcrumbs-img" style="background-image: url(/images/sports.jpg);">
					<h2 style="color: white; font-size: xx-large ; font-weight: 600;">Men's</h2>
				</div>
				<div class="menu text-center">
					<p><a href="#"></a> <a href="#"></a> <a href="#"></a> <a href="#"></a></p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="colorlib-featured">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 text-center">
				<div class="featured">
					<div class="featured-img featured-img-2" style="background-image: url(/images/logo.jpg);">
						<h2></h2>
						<p><a href="#" " id=" logo3">Shop now</a></p>
					</div>
				</div>
			</div>

			<div class="col-sm-4 text-center">
				<div class="featured">
					<div class="featured-img featured-img-2" style="background-image: url(/images/logo1.jpg);">
						<h2></h2>
						<p><a href="#" " id=" logo3">Shop now</a></p>
					</div>
				</div>
			</div>
			<div class="col-sm-4 text-center">
				<div class="featured">
					<div class="featured-img featured-img-2" style="background-image: url(/images/logo2.jpg);">
						<h2></h2>
						<p><a href="#" " id=" logo3">Shop now</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="colorlib-product">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 offset-sm-2 text-center colorlib-heading colorlib-heading-sm">
				<h2>View All Products</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-xl-3">
				<div class="row">
					<div class="col-sm-12">
						<div class="side border mb-1">
							<h3>Brand</h3>
							<ul>
								<li><a href="#">Nike</a></li>
								<li><a href="#">Adidas</a></li>
								<li><a href="#">Puma</a></li>

							</ul>
						</div>
					</div>
					<div class="col-sm-12">
						<div class="side border mb-1">
							<h3>Size/Width</h3>
							<div class="block-26 mb-2">
								<h4>Size</h4>
								<ul>
									<li><a href="#">6</a></li>
									<li><a href="#">7</a></li>
									<li><a href="#">8</a></li>
									<li><a href="#">9</a></li>
									<li><a href="#"></a></li>
									<li><a href="#">10</a></li>
									<li><a href="#">11</a></li>
									<li><a href="#">12</a></li>
									<li><a href="#">13</a></li>
									
								</ul>
							</div>

						</div>
					</div>


				</div>
			</div>
			<div class="col-lg-6 col-xl-9">
				<div class="row row-pb-md">
					
					{{#each men}}
					<div class="col-md-4">
						<div class="wsk-cp-product">
							<div class="wsk-cp-img">
								<a href="/User/product-details?id={{this._id}}"><img src="/product-images/{{image.[0]}}"
										alt="Product" class="img-responsive" /></a>
							</div>
							{{#gt this.productOffer  this.categoryOffer}}
						<div class="bg-danger rounded text-white position-absolute start-0 top-0 m-1 py-1 px-2">
							
						{{this.productOffer}}% off</div>
						{{else}}
						<div class="bg-danger rounded text-white position-absolute start-0 top-0 m-1 py-1 px-2">
							
						{{this.categoryOffer}}% off</div>
						{{/gt}}
						
							<div class="wsk-cp-text">
								<a href="">
									<div class="category">
										<span>BUY</span>
									</div>
								</a>
								<div class="title-product">
									<h3>{{this.product}}</h3>

								</div>

								<div class="description-prod">
									<p>{{this.description}}</p>
								</div>
								<div class="card-footer">
									<p style="color: red ; font-weight:  500;"><s>₹ {{this.orginalprice}}</s> </p>
									<div style="color:green ; font-weight:  500;" class="wcf-left"><span class="price">₹ {{this.discountprice}}</span></div>
									<div class="wcf-right"><a href="/User/add-to-cart?_id={{this._id}}"
											class="buy-btn"><i class="fa-solid fa-cart-shopping"></i></a></div>
									<div class="wcf-right "><a href="#" class="buy-btn"><i
												class="fa-solid fafa fa-heart"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					{{/each}}

				</div>
			</div>
		</div>
		{{!-- <div class="row">
			<div class="col-md-12 text-center">
				<div class="block-27">
					<ul>
						<li><a href="#"><i class="ion-ios-arrow-back"></i></a></li>
						<li class="active"><span>1</span></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#"><i class="ion-ios-arrow-forward"></i></a></li>
					</ul>
				</div>
			</div>
		</div> --}}
	</div>
</div>

<div class="colorlib-partner">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 offset-sm-2 text-center colorlib-heading colorlib-heading-sm">
				<h2>Trusted Partners</h2>
			</div>
		</div>
		<div class="row">
			<div class="col partner-col text-center">
				<img src="/images/brand-1.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
			</div>
			<div class="col partner-col text-center">
				<img src="/images/brand-2.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
			</div>
			<div class="col partner-col text-center">
				<img src="/images/brand-3.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
			</div>
			<div class="col partner-col text-center">
				<img src="/images/brand-4.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
			</div>
			<div class="col partner-col text-center">
				<img src="/images/brand-5.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
			</div>
		</div>
	</div>
</div>


</div>

<div class="gototop js-top">
	<a href="#" class="js-gotop"><i class="ion-ios-arrow-up"></i></a>
</div>