{{!-- <div class="container-fluid">
    <div class="row">
        <div class="background pb-3" style="margin-left: 7%;width: 90%;">
            <div class="" style=" vh-100">
                <a class="navbar-brand mt-4" style="font-family: none; font-weight: 900; color: black;">
                    <h1 class="text-center pt-5">Orders User</h1>
                </a>
                <div class="d-flex justify-content-center">
                    <div class="row mb-3 mt-4 ms-3">
                        <table class="table table-hover table-bordered ms-2 mt-2" id="orders">
                            <thead>
                                <tr>
                                    <th>No:</th>
                                    <th>Image</th>
                                    <th>Product</th>
                                    <th>category</th>
                                    <th>Price</th>
                                    <th>Date</th>
                                    <th>Payment</th>
                                    <th>Quantity</th>
                                    <th>Status</th>
                                    <th>address</th>


                                </tr>
                            </thead>
                            <tbody>

                                {{#if orders }}
                                {{#each orders}}




                                <tr>
                                    <td class="align-middle fw-b">{{inc @index}}</td>
                                    <td>

                                        <img style="width:70px; height: 70px;"
                                            src="/product-images/{{this.products.image.[0]}}" alt="Image Loadin">
                                    </td>
                                    <td class="align-middle fw-b">
                                        <p>{{this.products.productName}}</p>
                                    </td>
                                    <td class="align-middle fw-b">{{this.products.category}}</td>
                                    <td class="align-middle fw-b">₹ {{this.totalAmountDiscounted}}</td>
                                    <td class="align-middle fw-b">{{this.date}}</td>
                                    <td class="align-middle fw-b">{{this.payment}}</td>
                                    <td class="align-middle fw-b">{{this.products.quantity}}</td>
                                    <td class="align-middle fw-b">{{this.status}}</td>

                                    <td class="align-middle fw-b" id="select">
                                        {{#ifCheck this.status 'delivered'}}
                                        <option value="delivered">Delivered</option><br>
                                        <a
                                            href="/User/return-product?track={{this._id}}&productId={{this.products._id}}"><button
                                                type="button" class="btn btn-primary">Return
                                                Product</button></a>
                                        {{/ifCheck}}
                                        {{#ifCheck this.status 'Returned'}}
                                        <option value="Returned">Returned</option>
                                        {{/ifCheck}}

                                        {{#ifCheck this.status 'canceled'}}
                                        <option value="canceled">Cancelled</option>
                                        {{/ifCheck}}


                                        {{#ifCheck this.status 'placed'}}
                                        <select class="form-control" id="{{this.products._id}}{{this._id}}"
                                            onchange="statusChange('{{this.products._id}}','{{this._id}}')"
                                            style="width: 90px;">
                                            <option selected="true" disabled="disabled"
                                                style="background-color: blue; color: white;">
                                                {{this.status}}</option>
                                            <option value="canceled">cancel</option>

                                        </select>

                                        {{/ifCheck}}
                                        {{#ifCheck this.status 'pending'}}
                                        <option value="pending">pending</option>
                                        {{/ifCheck}}

                                        {{#ifCheck this.status 'shipped'}}
                                        <select class="form-control" id="{{this.products._id}}{{this._id}}"
                                            onchange="statusChange('{{this.products._id}}','{{this._id}}')"
                                            style="width: 90px;">
                                            <option selected="true" disabled="disabled"
                                                style="background-color: blue; color: white;">
                                                {{this.status}}</option>
                                            <option value="canceled">Cancel</option>
                                        </select>
                                        {{/ifCheck}}





                                    </td>

                                    <td class="align-middle fw-b">{{this.deliveryDetails.address}}</td>


                                </tr>


                                {{/each}}
                                {{else}}
                                <h2 class="fw-bold text-danger">Order list is Empty...!</h2>
                                {{/if}}


                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div> --}}


        {{!--
        <script>
            $(document).ready(function () {
                $('#orders').DataTable();
            });
        </script> --}}







        <body
            style="background-image: url('https://img.freepik.com/free-vector/blue-pink-halftone-background_53876-99004.jpg?w=2000');">
            <div class="container">
                <section class="h-100 ">
                    <div class="container h-100 py-5">
                        <div class="row d-flex justify-content-center align-items-center h-100">
                            <div class="col-10">


                                <h3 class="fw-normal mb-0 text-black">Oder list</h3>

                                <div class="card rounded-3 mb-4">
                                    <div class="card-body p-4">
                                        <div class="row d-flex justify-content-between align-items-center">
                                            <div>

                                                {{#each data}}
                                                <div class="card rounded-3 mb-4">
                                                    <div class="card-body p-4">
                                                        <div
                                                            class="row d-flex justify-content-between align-items-center">
                                                            <div class="col-md-2 col-lg-2 col-xl-2">
                                                              <a href="/User/history?id={{this._id}}">  <span>Id: {{this._id}}</span></a>
                                                                {{!-- <img src="/images/productimage/{{item._id}}.jpg"
                                                                    class="img-fluid rounded-3" alt="Cotton T-shirt">
                                                                --}}

                                                            </div>
                                                            <div class="col-md-3 col-lg-3 col-xl-3">
                                                                <p class="lead fw-normal mb-2">
                                                                    products:
                                                                    {{#each products}}
                                                            <span>
                                                                <h5>{{this.productName}}</h5>
                                                            </span>  
                                                            {{/each}}                                                                      

                                                                <p><span class="text-muted">Total : </span>

                                                                    {{this.totalAmountDiscounted}}

                                                                    <span class="text-muted"></span>
                                                                </p>
                                                            </div>
                                                            <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                                                <p class="lead fw-normal mb-2"> </p>
                                                                <p><span class="text-muted">
                                                                    <H3>Address:</H3>
                                                                    </span>{{this.deliveryDetails.name}}{{this.deliveryDetails.address}}{{this.deliveryDetails.pincode}}
                                                                    <span class="text-muted"></span>
                                                                </p>
                                                            </div>
                                                            <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                                                {{!-- <h5 class="mb-0"> <button class="btn btn-primary">
                                                                        Cancel Order</button> </h5> --}}
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                {{/each}}

                                            </div>




                                        </div>
                                    </div>
                                </div>






                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </body>