<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="#">User</a></li>
            {{#with users}}


            <li class="breadcrumb-item active" aria-current="page">User Profile</li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img
              src="https://i.pinimg.com/originals/89/64/99/8964998576cfac440b3a14df748fc670.png"
              alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">{{this.Name}}</h5>
            <p class="text-muted mb-1">Full Stack Developer</p>
            <p class="text-muted mb-4">{{this.Email}}</p>
            <div class="d-flex justify-content-center mb-2">
              {{!-- <button type="button" class="btn btn-primary">Follow</button>
              <button type="button" class="btn btn-outline-primary ms-1">Message</button> --}}
            </div>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body p-0">
           <h1>Wallet</h1>
          </div>
        </div>
      </div>



      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            {{!-- <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{this.Name}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{this.Email}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Phone</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{this.Phone}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Mobile</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">(098) 765-4321</p>
              </div>
            </div>
            <hr> --}}
            <form id="profileupdate" action="/update-profile" method="post">
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Full Name</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input type="text" class="form-control" placeholder="Name" value="{{this.Name}}" name="name">
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Email</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input type="email" class="form-control" placeholder="Enter email " value="{{this.Email}}"
                    name="email">
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Phone</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input type="text" class="form-control" placeholder="Enter your Mobile number" value="{{this.Phone}}"
                    name="mobile">
                </div>
              </div>

              <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-9 text-secondary">
                  <button type="submit" class="btn btn-danger">Save changes</button>
                </div>
              </div>
            </form>

          </div>
        </div>

        {{/with}}

        {{#each address}}
        <div class="row d-" style="display: contents; justify-content: end; ">
          <div class="col-md-6">
            <div class="card mb- mb-md-0">
              <div class="card-body">

                <h1 style="color: skyblue; font-weight: 300; font-size: x-large;">Addressess</h1>
                <p>{{this.name}},{{this.address}},{{this.town}},{{this.state}},{{this.zip}},{{this.phone}}

                <div class="form-check">
                  </p>
                 <a href="/user/edit-address?id={{this._id}}">
                  <button type="button" class="btn btn-primary">edit
                    Address</button>

                 </a> 
                  <a href="/user/delete-address?id={{this._id}} ">
                    <button class="btn btn-primary">Delete</button>

                  </a>


                </div>
              </div>
            </div>
          </div>
          {{/each}}
</section>


{{!--
<script>

  function editaddress(addressId) {
    console.log('errrrrrrrrrrrrrrr')
    $.ajax({
      url: '/user/edit-address/' + addressId,
      method: 'get',
      success(response)=>{

      $('#editaddress').modal('show');
      $("input[name='editfname']")
            $("input[name='editlname']")
            $("input[name='editaddress']")
            $("input[name='edittown']")
            $("input[name='editstate']")
            $("input[name='editzip']")
            $("input[name='editemail]")
            $("input[name='editphone']")
    }
    })
  } --}}

</script>