<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="#">User</a></li>

            {{#with users}}


            <li class="breadcrumb-item active" aria-current="page">User Profile</li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="https://i.pinimg.com/originals/89/64/99/8964998576cfac440b3a14df748fc670.png" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">{{this.Name}}</h5>
            <p class="text-muted mb-1">Full Stack Developer</p>
            <p class="text-muted mb-4">{{this.Email}}</p>
            <div class="d-flex justify-content-center mb-2">

            </div>
          </div>
        </div>




      </div>



      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">

            <form id="profileupdate" action="/User/update-profile" method="post">
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Full Name</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input type="text" class="form-control" placeholder="Name" value="{{this.Name}}" name="name">
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Email</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input type="email" class="form-control" placeholder="Enter email " value="{{this.Email}}"
                    name="email">
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Phone</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input type="text" class="form-control" placeholder="Enter your Mobile number" value="{{this.Phone}}"
                    name="mobile">
                </div>
              </div>

              <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-9 text-secondary">
                  <button type="submit" class="btn btn-danger">Save changes</button>
                </div>
              </div>
            </form>

          </div>
        </div>
        {{/with}}

        {{#each address}}
        <div class="row d-" style="display: contents; justify-content: end; ">
          <div class="col-md-6">
            <div class="card mb- mb-md-0">
              <div class="card-body">

                <h1 style="color: skyblue; font-weight: 300; font-size: x-large;">Addressess</h1>
                <p>{{this.name}},{{this.address}},{{this.town}},{{this.state}},{{this.zip}},{{this.phone}}

                <div class="form-check">
                  </p>
                  <a href="/user/edit-address?id={{this._id}}">
                    <button type="button" class="btn btn-primary">edit
                      Address</button>

                  </a>
                  <a href="/user/delete-address?id={{this._id}} ">
                    <button class="btn btn-primary">Delete</button>

                  </a>


                </div>
              </div>
            </div>
          </div>
          {{/each}}

          <div class="container" style="width: 100%;">
            <div class="row">
              <div class="card mb-lg-0">
                <h1 style="color: red;">wallet</h1>
                <div class="card-body p-0">
                  <h1>₹ : {{this.walletD}}</h1>
                </div>
                <button type="button" style="width: 134px; margin-left: 81%;" class="btn btn-primary pl-5 pr- 5" data-toggle="modal"
                  data-target="#exampleModalCenter">
                  History
                </button>
              </div>

            </div>
          </div>
</section>



</script>

{{!-- modal --}}


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Id</th>
      <th scope="col">Amount</th>
      <th scope="col">date</th>
    </tr>
  </thead>
  <tbody>
    {{#each walletAmount}}
    <tr>
      <th scope="row">{{inc @index}}</th>
      <td>{{this.orderId}}</td>
      <td>{{this.amount}}</td>
      <td>{{this.date}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        {{!-- <button type="button" class="btn btn-primary">Save changes</button> --}}
      </div>
    </div>
  </div>
</div>