<div class="breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col">
				<p class="bread"><span><a href="/">Home</a></span> / <span>My Wishlist</span></p>
			</div>
		</div>
	</div>
</div>


<div class="colorlib-product">
	<div class="container">
		<div class="row row-pb-lg">
			<div class="col-md-10 offset-md-1">
				{{!-- <div class="process-wrap">
					<div class="process text-center active">
						<p><span>01</span></p>
						<h3>Shopping Cart</h3>
					</div>
					<div class="process text-center">
						<p><span>02</span></p>
						<h3>Checkout</h3>
					</div>
					<div class="process text-center">
						<p><span>03</span></p>
						<h3>Order Complete</h3>
					</div>
				</div> --}}
			</div>
		</div>
		<div class="row row-pb-lg">
			<div class="col-md-12">
				<div class="product-name d-flex">
					<div class="one-forth text-left px-4">
						<span>Product Details</span>
					</div>
					<div class="one-eight text-center">
						<span>Price</span>
					</div>
					<div class="one-eight text-center">
						<span>Quantity</span>
					</div>
					{{!-- <div class="one-eight text-center">
						<span>Total</span>
					</div> --}}
					<div class="one-eight text-center px-4">
						<span>Remove</span>
					</div>
				</div>
				{{#each wishlistItems}}


				<div class="product-cart d-flex">
					{{#with products}}
					<div class="one-forth">
						<div class="product-img" style="background-image: url(/product-images/{{image.[0]}});">
						</div>
						{{/with}}
						<div class="display-tc">
							<h3>{{this.products.product}}</h3>
						</div>
					</div>

					<div class="one-eight text-center">
						<div class="display-tc">
							<span class="price">₹ {{this.products.discountprice}}</span>
						</div>
					</div>
					<div class="one-eight text-center">
						{{!-- <div class="display-tc">
							<button class="cbtn1" mr-3
								onclick="changeQuantity('{{this._id}}','{{this.product._id}}',-1)">-</button>
							{{this.quantity}}
							<button class="cbtn" mr-3
								onclick="changeQuantity('{{this._id}}','{{this.product._id}}',1)">+</button>

						</div> --}}


						<div class="pro-qty-2 pt-4">


							<span class="proq" id="{{this.products._id}}">{{this.quantity}}</span>

						</div>

					</div>
					{{!-- <div class="one-eight text-center">
						<div class="display-tc">
							<span class="price">₹</span>
						</div>
					</div> --}}
					{{#with products}}
					<div class="one-eight text-center">
						<div class="display-tc">
							<a href="/user/remove-wishlist?id={{this._id}}" class="closed"></a>
						</div>
						{{/with}}
					</div>
				</div>

				{{/each}}
				<div class="product-cart d-flex">


					<div class="col-sm-3">
						<a href=""><input type="submit" value="add to cart" class="btn btn-primary"></a>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-8 offset-sm-2 text-center colorlib-heading colorlib-heading-sm">
						<h2>Shop more</h2>
					</div>
				</div>
				
			</div>
		</div>

		